{% extends 'base.html' %} {% block head %}
<title>Nodes Map Form</title>
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %} {% block body %}
<h1>Nodes Map</h1>
<form action="/map" method="POST" enctype="multipart/form-data">
  <div class="option">
    <label>Choose nodes file:</label>
    <section class="files">
      {% for file in files %}
      <div class="file" onclick="selectFile('{{ file }}')">{{ file }}</div>
      {% endfor %}
    </section>
    <input
      type="text"
      name="nodes_file"
      id="nodes_file"
      value="No file selected"
    />
  </div>
  <div class="option">
    <label for="map_name">Map name:</label>
    <input type="text" name="map_name" id="map_name" value="" />
  </div>
  <button type="submit">Create Map</button>
</form>
{% endblock %}
