{% extends 'base.html' %} {% block head %}
<title>Nodes Map: '{{ map_name }}'</title>
<link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}" />
<script src="{{ url_for('static', filename='map.js') }}"></script>
{% endblock %} {% block body %}
<h1 class="map_name">{{ map_name }}</h1>

<section class="nodes_list">
  {% for node in nodes %}
  <div class="node_info" id="{{ node['id'] }}">
    <p>id: {{ node['id'] }}</p>
    <p>label: {{ node['label'] }}</p>
    <p>x: {{ node['x'] }}</p>
    <p>y: {{ node['y'] }}</p>
  </div>

  {% endfor %}
</section>

<section class="map_area">
  {% for node in nodes %}
  <div class="node" id="{{ node['id'] }}" data-x={{ node['x'] }} data-y={{ node['y'] }}>
    <p>id: {{ node['id'] }}</p>
    <p>label: {{ node['label'] }}</p>
    {% if "image" in node %}
    <img src="{{ node['image'] }}" />
    {% endif %}
  </div>

  {% endfor %}
</section>

{% endblock %}
