.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 600px;
}

svg#map {
    background-color: hsl(200, 30%, 80%);
    flex-grow: 1;
}