.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 600px;
}

svg#map {
    background-color: hsl(200, 30%, 80%);
    flex-grow: 1;
}

g.node {
    opacity: 0.7;
}

g.node:hover {
    opacity: 1;
    cursor: pointer;
}

text.label {
    opacity: 1;
}

g.node>rect {
    fill: gray;
}