.menu {
    position: fixed;
    top: 10px;
    right: 10px;
    max-width: 300px;
    background-color: hsl(0, 0%, 90%);
    border: 1px black solid;
}

.line {
    display: flex;
}

.selectedImageContainer {
    width: 256px;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 60%);
}

.selectedImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



.infoKey {
    min-width: 100px;
    font-weight: bold;
}