form {
    padding: 10px;
    background-color: hsl(60, 60%, 90%);
    /* display: grid; */
}

.option {
    display: flex;
}

label {
    font-size: 1.2em;
}

section.files {
    display: flex;
}

.file {
    padding: 5px;
    margin: 0 3px;
    background-color: hsl(260, 80%, 90%);
    cursor: pointer;
}